---
// Footer component with Tailwind CSS and Epic Games icons
---

<footer class="bg-gray-900 border-t border-gray-700 py-4 mt-auto">
  <div class="max-w-6xl mx-auto px-8 flex justify-between items-center flex-col md:flex-row gap-4">
    <div class="flex gap-3 items-center">
      <i class="epic-wf-custom-icon w-8 h-8" style="--footer-tags-icon-mask: url(https://cms-assets.unrealengine.com/AVzjeqAbLRKi3W5jq0CAvz/KA6d6NZXSlaxhPy5eAYf); --footer-tags-icon-ratio: 1;" title="PC"></i>
      <i class="epic-wf-custom-icon w-12 h-8" style="--footer-tags-icon-mask: url(https://cms-assets.unrealengine.com/AVzjeqAbLRKi3W5jq0CAvz/WhxwsUG5QUhr9xYWZ6FA); --footer-tags-icon-ratio: 7 / 3;" title="PlayStation"></i>
      <svg class="w-8 h-8 fill-white hover:fill-gray-300 transition-colors" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M13.507 12.004c0-4.927.012-8.967.027-8.978.01-.015.756-.026 1.65-.026 1.298 0 1.7.011 1.962.056 1.945.335 3.425 1.8 3.794 3.742.052.272.06.909.06 5.184 0 4.566.005 5.104-.139 5.597-.024.085-.054.17-.088.273a6 6 0 0 1-.28.652 4.65 4.65 0 0 1-3.575 2.46c-.358.037-3.25.052-3.351.014-.056-.022-.06-.846-.06-8.974m5.26.302a1.82 1.82 0 0 0-1.252-1.163 1.81 1.81 0 0 0-2.181 1.208c-.093.29-.097.767-.015 1.05a1.836 1.836 0 0 0 2.196 1.245c.574-.152 1.021-.566 1.248-1.155.123-.32.127-.835.004-1.185" clip-rule="evenodd"></path>
        <path d="M7.174 6.73a2 2 0 0 0-.783.392c-.391.339-.585.82-.555 1.386.015.295.033.373.153.611.175.362.44.627.801.805.25.123.313.138.637.15.295.01.4 0 .597-.067.809-.273 1.297-1.059 1.16-1.864-.161-.958-1.07-1.599-2.01-1.412"></path>
        <path fill-rule="evenodd" d="M6.854 3.06a4.65 4.65 0 0 0-3.69 3.391c-.165.63-.176.999-.157 5.885.01 4.487.015 4.591.09 4.938.413 1.867 1.74 3.198 3.626 3.637.246.056.56.067 2.576.079 2.087.015 2.304.01 2.36-.045.055-.056.06-.775.06-8.93 0-6.045-.012-8.892-.038-8.944-.037-.067-.1-.071-2.285-.067-1.775.003-2.308.015-2.542.056m3.373 16.495-1.517-.019c-1.398-.015-1.547-.022-1.827-.093a3.16 3.16 0 0 1-2.34-2.437c-.083-.377-.083-9.65-.004-10.018a3.2 3.2 0 0 1 1.93-2.307c.493-.198.72-.22 2.316-.224l1.442-.004z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="text-gray-300 text-sm font-light">
      Hecho con locura por Omar y Sucely 😎
    </div>
  </div>
</footer>

<style>
  .epic-wf-custom-icon {
    display: inline-block;
    background-color: #fff;
    -webkit-mask: var(--footer-tags-icon-mask) no-repeat center;
    mask: var(--footer-tags-icon-mask) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    aspect-ratio: var(--footer-tags-icon-ratio);
    transition: background-color 0.2s ease;
  }
  
  .epic-wf-custom-icon:hover {
    background-color: #ccc;
  }
</style>
